<div class="container py-5">
    <!-- For Demo Purpose-->
    <header class="text-center mb-5">
      <h2 class="font-weight-bold text-center text-warning">Ayurvedic Medicine</h2>
      <p class="font-italic text-dark mb-0">Ayurvedic practitioners regard physical existence, mental existence, and personality as three separate elements of a whole person with each element being able to influence the others.</p>
      <p class="font-italic text-dark">Read More<a href="http://localhost:4200/aboutus" class="text-muted">
          <u class="text-warning">Ayurvedic medicine</u></a>
      </p>
    </header>
  
  
    <!-- First Row [Prosucts]-->
    <h2 class="font-weight-bold mb-2 text-center text-warning">Our Product Reviews</h2>
    <p class="font-italic text-dark mb-4 text-center">Ayurveda or Ayurvedic medicine is a system of traditional medicine native to India.</p>
  
    <div class="row pb-5 mb-4">
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-0">
          <div class="card-body p-4"><img src="./assets/images/t1.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
            <h5> <a href="#" class="text-dark">Body Movement</a></h5>
            <p class="small text-muted font-italic">Nonaerobic movement with controlled breathing may be done to help reduce stress and anxiety often linked to disease and illness. The Eastern medicine body movement techniques most well-known include Tai chi and yoga.</p>
            <ul class="list-inline small">
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-0">
          <div class="card-body p-4"><img src="./assets/images/t2.jfif" alt="" class="img-fluid d-block mx-auto mb-3">
            <h5> <a href="#" class="text-dark">Chiropractic Medicine</a></h5>
            <p class="small text-muted font-italic">Chiropractic medicine is based on the link between the alignment of the spine and the function of the body.The word chiropractic comes from the Greek words cheir and praxis meaning hand and practice. </p>
            <ul class="list-inline small">
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-0">
          <div class="card-body p-4"><img src="./assets/images/t3.webp" alt="" class="img-fluid d-block mx-auto mb-3">
            <h5> <a href="#" class="text-dark">Herbal Medicine</a></h5>
            <p class="small text-muted font-italic">Products made from botanicals, or plants, that are used to treat diseases health are called herbal products or phytomedicines. A product made from plants and used solely for internal use is called an herbal supplement.</p>
            <ul class="list-inline small">
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-0">
          <div class="card-body p-4"><img src="./assets/images/t4.png" alt="" class="img-fluid d-block mx-auto mb-3">
            <h5> <a href="#" class="text-dark">Triphala Churna</a></h5>
            <p class="small text-muted font-italic">Triphala churna has analgesic, antibacterial, anti-arthritic, hypoglycemic, antiaging, antiviral and anti-inflammatory properties. It helps with headaches, dyspepsia,oxidative stress reduction,infectious disorders like periodontal disease.</p>
            <ul class="list-inline small">
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
  
    <!-- Second Row [Team]-->
    <h2 class="font-weight-bold mb-2 text-center text-warning">Our Team</h2>
    <p class="font-italic text-dark mb-4 text-center">Doctors at Kerala Ayurveda</p>
  
    <div class="row pb-5 mb-4">
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card shadow-sm border-0 rounded">
          <div class="card-body p-0"><img src="./assets/images/o1.jpg" alt="" class="w-100 card-img-top">
            <div class="p-4">
              <h5 class="mb-0">Dr Maanasi M, BAMS</h5>
              <p class="small text-muted">Practicing as duty doctor at the Kerala Ayurveda LTD, Somajiguda, Hyderabad.</p>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card shadow-sm border-0 rounded">
          <div class="card-body p-0"><img src="./assets/images/o2.png" alt="" class="w-100 card-img-top">
            <div class="p-4">
              <h5 class="mb-0">Dr. Vaibhav Laxman</h5>
              <p class="small text-muted">He specializes in Joint Disease, Hyperacidity, Skin Disease</p>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card shadow-sm border-0 rounded">
          <div class="card-body p-0"><img src="./assets/images/03.png" alt="" class="w-100 card-img-top">
            <div class="p-4">
              <h5 class="mb-0">Dr. Priya Bahuleyan</h5>
              <p class="small text-muted">She is a strong professional in PCOD, Hair and skin care and beauty treatments.</p>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card shadow-sm border-0 rounded">
          <div class="card-body p-0"><img src="./assets/images/o4.png" alt="" class="w-100 card-img-top">
            <div class="p-4">
              <h5 class="mb-0">Dr. Aparna Das</h5>
              <p class="small text-muted">Hailing from a family with a reputed Ayurveda background.An expert in Panchakarma treatments.</p>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Third Row [Profiles]-->
    <h2 class="font-weight-bold mb-2 text-center text-warning">Active Profiles</h2>
    <p class="font-italic text-dark mb-4 text-center">The theory and practice of Ayurveda is pseudoscientific. Ayurveda is heavily practiced in India and Nepal, where around 80% of the population report using it. Ayurveda therapies have varied and evolved over more than two millennia.</p>
  
    <div class="row pb-5 mb-4">
  
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-0">
          <div class="card-body p-0">
            <div class="bg-primary px-5 py-4 text-center card-img-top"><img src="https://bootstrapious.com/i/snippets/sn-cards/teacher-4.jpg" alt="..." width="100" class="rounded-circle mb-2 img-thumbnail d-block mx-auto">
              <h5 class="text-dark mb-0">Emma Nevoresky</h5>
              <p class="small text-white mb-0">Herbal Medicine user</p>
            </div>
            <div class="p-4 d-flex justify-content-center">
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <h5 class="font-weight-bold mb-0 d-block">241</h5><small class="text-muted"><i class="fa fa-picture-o mr-1 text-primary"></i>Photos</small>
                </li>
                <li class="list-inline-item">
                  <h5 class="font-weight-bold mb-0 d-block">84K</h5><small class="text-muted"><i class="fa fa-user-circle-o mr-1 text-primary"></i>Followers</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-0">
          <div class="card-body p-0">
            <div class="bg-success px-5 py-4 text-center card-img-top"><img src="https://bootstrapious.com/i/snippets/sn-cards/teacher-2.jpg" alt="..." width="100" class="rounded-circle mb-2 img-thumbnail d-block mx-auto">
              <h5 class="text-dark mb-0">Samuel Hardy</h5>
              <p class="small text-white mb-0">Neelibringadi Keram user</p>
            </div>
            <div class="p-4 d-flex justify-content-center">
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <h5 class="font-weight-bold mb-0 d-block">241</h5><small class="text-muted"><i class="fa fa-picture-o mr-1 text-success"></i>Photos</small>
                </li>
                <li class="list-inline-item">
                  <h5 class="font-weight-bold mb-0 d-block">84K</h5><small class="text-muted"><i class="fa fa-user-circle-o mr-1 text-success"></i>Followers</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-0">
          <div class="card-body p-0">
            <div class="bg-info px-5 py-4 text-center card-img-top"><img src="https://bootstrapious.com/i/snippets/sn-cards/teacher-7.jpg" alt="..." width="100" class="rounded-circle mb-2 img-thumbnail d-block mx-auto">
              <h5 class="text-dark mb-0">Tom Sunderland</h5>
              <p class="small text-white mb-0">Kumkumadi Tailam user</p>
            </div>
            <div class="p-4 d-flex justify-content-center">
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <h5 class="font-weight-bold mb-0 d-block">241</h5><small class="text-muted"><i class="fa fa-picture-o mr-1 text-info"></i>Photos</small>
                </li>
                <li class="list-inline-item">
                  <h5 class="font-weight-bold mb-0 d-block">84K</h5><small class="text-muted"><i class="fa fa-user-circle-o mr-1 text-info"></i>Followers</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-0">
          <div class="card-body p-0">
            <div class="bg-warning px-5 py-4 text-center card-img-top"><img src="https://bootstrapious.com/i/snippets/sn-cards/teacher-1.jpg" alt="..." width="100" class="rounded-circle mb-2 img-thumbnail d-block mx-auto">
              <h5 class="text-dark mb-0">John Tarly</h5>
              <p class="small text-white mb-0">Chyavanprash user</p>
            </div>
            <div class="p-4 d-flex justify-content-center">
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <h5 class="font-weight-bold mb-0 d-block">241</h5><small class="text-muted"><i class="fa fa-picture-o mr-1 text-warning"></i>Photos</small>
                </li>
                <li class="list-inline-item">
                  <h5 class="font-weight-bold mb-0 d-block">84K</h5><small class="text-muted"><i class="fa fa-user-circle-o mr-1 text-warning"></i>Followers</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    <!-- First Row [Statistics]-->
    <h2 class="font-weight-bold mb-2 text-center text-warning">Latest Statistics</h2>
    <p class="font-italic text-dark mb-4 text-center">The profit margin for a store or Ayurvedic is around 16-22% on name-brand drugs and 20-50% on generics. They receive profits and advantages from company programs and special deals. Distributors and wholesalers often extend credit to retailers and chemists.</p>
  
    <div class="row pb-5">
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-0">
          <div class="card-body p-5"><i class="fa fa-tasks fa-2x mb-3 text-primary"></i>
            <h5>Products Sales</h5>
            <p class="small text-muted font-italic">The Indian ayurvedic products market size reached INR 626 Billion in 2022.</p>
            <div class="progress rounded-pill">
              <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;" class="progress-bar rounded-pill"></div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card -->
        <div class="card rounded shadow-sm border-0">
          <div class="card-body p-5"><i class="fa fa-tasks fa-2x mb-3 text-success"></i>
            <h5>Completed Tasks</h5>
            <p class="small text-muted font-italic">Ayurveda is an alternative medicine system with historical roots in the Indian subcontinent.</p>
            <div class="progress rounded-pill">
              <div role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;" class="progress-bar bg-success rounded-pill"></div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card -->
        <div class="card rounded shadow-sm border-0">
          <div class="card-body p-5"><i class="fa fa-user-circle-o fa-2x mb-3 text-info"></i>
            <h5>New Users</h5>
            <p class="small text-muted font-italic">It has been practiced in India for at least 5,000 years, and recently become popular in Western cultures. </p>
            <div class="progress rounded-pill">
              <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;" class="progress-bar bg-info rounded-pill"></div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Card -->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <div class="card rounded shadow-sm border-0">
          <div class="card-body p-5"><i class="fa fa-shopping-bag fa-2x mb-3 text-warning"></i>
            <h5>New Products</h5>
            <p class="small text-muted font-italic">Shop our new Ayurvedic products page. Single-herb tablets,herbs, and spice mixes now in a larger size.</p>
            <div class="progress rounded-pill">
              <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;" class="progress-bar bg-warning rounded-pill"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  