
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-xl">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.jfif" class = "rounded-circle" alt = "Rounded Image" width = "70px" height = "100px">
      </a>
      <!-- Navbar toggle -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- Nav -->
        <div class="navbar-nav me-auto">
          <a class="nav-item nav-link active" routerLink="/home">Home</a>
          <a class="nav-item nav-link" routerLink="/aboutus">AboutUs</a>
          <a class="nav-item nav-link" routerLink="/products">Products</a>
          <a class="nav-item nav-link" routerLink="/blog">Blog</a>
          <a class="nav-item nav-link" routerLink="/testimonals">Testimonals</a>
          <a class="nav-item nav-link" routerLink="/educationalresources">EducationalResources</a>
        </div>
        <div class="navabr-nav ms-auto">
          <a class="nav-item nav-link active text-white" routerLink="/newsletter">Register/Login</a>
          
        </div>
      </div>
    </div>
  </nav>
  
  

 