<div class="container">
  <h1 class="demo1 text-center"> Ayurveda treatment</h1>
  <hr>
  <p class="demo text-center"> Herbal medicine is central to Ayurveda treatment. Safety issues to consider include:</p>
  <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#tab1" role="tab">Herbs medicines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#tab2" role="tab">Rasa Shastra medicines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#tab3" role="tab">Dietary changes</a>
      </li>
    </ul>
  
    <div class="tab-content">
      <div class="tab-pane fade show active" id="tab1" role="tabpanel">
        <div class="slider">
          <!-- Content for slider 1 -->
          <img src="./assets/images/img1.jpg" alt="">
          <h3 class="text-center">Herbal Medicine For Disease Prevention</h3>
          <p class="text-center">Herbal medicines can be as potent as pharmaceutical drugs and should be treated with the same caution and respect. The belief that herbs are safe and harmless may encourage inappropriate use or overdose.</p>
        </div>
      </div>
      <div class="tab-pane fade" id="tab2" role="tabpanel">
        <div class="slider">
          <!-- Content for slider 2 -->
          <img src="./assets/images/img2.jpg" alt="">
          <h3 class="text-center">Rasa Shastra Medicine</h3>
          <p class="text-center">Rasashastra is a pharmaceutical branch of Indian system of medicine which mainly deals with the metals, minerals, animal origin product, toxic herbs and their use in therapeutics.</p>
        </div>
      </div>
      <div class="tab-pane fade" id="tab3" role="tabpanel">
        <div class="slider">
          <!-- Content for slider 3 -->
          <img src="./assets/images/img3.jpg" alt="">
          <h3 class="text-center">Dietary changes</h3>
          <p class="text-center">A healthy diet is essential for good health and nutrition. It protects you against many chronic noncommunicable diseases, such as heart disease, diabetes and cancer.</p>
        </div>
      </div>
    </div>
  </div>
  