<h2>Ayurveda claims to treat a range of disorders</h2><hr>
<div class="container d-flex align-items-center justify-content-center flex-wrap">
    <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="./assets/images/b1.webp" alt="">
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h3 class="text-white fs-5">Anxiety</h3>
                    <p class="fs-6 text-white">Anxiety is a feeling of fear, dread, and uneasiness. It might cause you to sweat, feel restless and tense, and have a rapid heartbeat. It can be a normal reaction to stress. For example, you might feel anxious when faced with a difficult problem at work, before taking a test, or before making an important decision.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="./assets/images/bi2.webp" alt="">
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h3 class="text-white fs-5">Best Diet For Asthma </h3>
                    <p class="fs-6 text-white">The Mediterranean diet, one based on eating plenty of healthy fats (like olive oil), fish, whole grains, and fruit, fits the bill, she says. And there is some preliminary evidence to suggest that following this diet may indeed be linked to lower rates of asthma, according to one study.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="./assets/images/b3.jpg" alt="">
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h3 class="text-white fs-5">Best Food For Arthritis</h3>
                    <p class="fs-6 text-white">Fatty Fish. Salmon, mackerel and tuna have high levels of Omega-3 fatty acids and vitamin D. Both of these have been found to help reduce inflammation. ...
                        Dark Leafy Greens, Nuts,Olive Oil,Berries, Garlic and Onions, Green Tea.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="./assets/images/b4.jpg" alt="">
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h3 class="text-white fs-5">Diet For Digestive Problems</h3>
                    <p class="fs-6 text-white">Cut back on fatty foods,Avoid fizzy drinksEat and drink slowly.
                        Quit smoking,Don't chew gum,Exercise more Avoid foods that cause gas, Avoid sweeteners that cause gas such as fructose and sorbitol.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="./assets/images/b5.jpg" alt="">
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h3 class="text-white fs-5">Eczema</h3>
                    <p class="fs-6 text-white">There's no cure, but many children find their symptoms naturally improve as they get older. The main treatments for atopic eczema are: emollients (moisturisers) – used every day to stop the skin becoming dry. topical corticosteroids – creams and ointments used to reduce swelling and redness during flare-ups.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="body">
            <div class="imgContainer">
                <img src="./assets/images/b6.jpg" alt="">
            </div>
            <div class="content d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h3 class="text-white fs-5">High blood pressure</h3>
                    <p class="fs-6 text-white">there is no cure for high blood pressure, it is important for patients to take steps that matter, such as making effective lifestyle changes and taking BP-lowering medications as prescribed by their physicians</p>
                </div>
            </div>
        </div>
    </div>
</div>
