<h1 class="text-center text-warning">Free Ayurvedic Educational Resources</h1>

<div class="container my-5">
				<div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="./assets/images/n1.jpg" alt="...">
							<div class="carousel-caption">
							
								<p>
								</p>
							</div>
						</div>
						<div class="carousel-item">
							<img src="./assets/images/n2.jpg" alt="...">
							<div class="carousel-caption">
								
								<p>
								</p>
							</div>
						</div>
						<div class="carousel-item">
							<img src="./assets/images/n3.jpg" alt="...">
							<div class="carousel-caption">
								
								<p> 
								</p>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
		</div>
    
    <div class="container">
      <div class="row">
        <div class="card col-md-12 p-3">
          <div class="row ">
            <div class="col-md-4">
              <img class="demo" src="./assets/images/h1.jfif">
            </div>
            <div class="col-md-8">
              <div class="card-block">
                <h6 class="card-title">Learning ayuveda article</h6>
                <p class="card-text text-justify">Get started with Ayurveda by learning about the three doshas and how they influence everything in your life—from personality, to physique and digestion.We’ve included practical tips and advice to guide you on your journey to vibrant health and well-being. </p>
                <a href="https://www.banyanbotanicals.com/info/ayurvedic-living/learning-ayurveda/" class="btn btn-primary">read more...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card col-md-12 p-3">
          <div class="row ">
            <div class="col-md-8">
              <div class="card-block">
                <h6 class="card-title text-right">Ayurvedic Health Guides</h6>
                <p class="card-text text-justify">Our Health Guides are educational resources, written to illuminate many of today’s health topics from a clear and practical Ayurvedic approach.Ayurveda, a traditional system of medicine that originated over three millennia ago in the South Asian region, offers extensive insights </p>
                <a href="https://www.everydayhealth.com/integrative-health/ayurveda/guide/" class="btn btn-primary">read more...</a>
              </div>
            </div>
            <div class="col-md-4">
              <img class="demo" src="./assets/images/h2.png">
            </div>
          </div>
        </div>
        <div class="card col-md-12 p-3">
          <div class="row ">
            <div class="col-md-4">
              <img class="demo" src="./assets/images/h3.jpg">
            </div>
            <div class="col-md-8">
              <div class="card-block">
                <h6 class="card-title">Elements of Ayurveda Handout Library</h6>
                <p class="card-text text-justify">Our easy-to-understand instructional sheets cover Ayurvedic daily routine practices, breathing exercises, and other Ayurvedic techniques for achieving well-being. These handouts can be downloaded and shared digitally, printed, or purchased.</p>
                <a href="#" class="btn btn-primary">read more...</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card col-md-12 p-3">
          <div class="row ">
            <div class="col-md-8">
              <div class="card-block">
                <h6 class="card-title text-right">Dosha Quiz</h6>
                <p class="card-text text-justify">The concept of the doshas is one of the most critical aspects of understanding Ayurveda. Our free, comprehensive dosha quiz enables people to find out which combination of vata, pitta, and kapha makes up their unique constitution and state of imbalance.</p>
                <a href="#" class="btn btn-primary">read more...</a>
            </div>
              </div>
              <div class="col-md-4">
              <img class="demo" src="./assets/images/h4.jpg">
            </div>
          </div>
        </div>
      </div>
  </div>
		
