<div class="demo p-10 bg-surface-secondary">
    <div class="mb-8 text-center">
      <h3 class="mb-2">Ayurveda<a href="https://github.com/webpixels/css" target="_blank"></a></h3>
      <p>The Indian System Of Medicine</p>
    </div>
    <div class="mt-8 text-center">
      <a href="https://webpixels.io/components?ref=codepen" class="text-white" target="_blank">Your body is precious.<br>It is our vechile for awakening.<br>Treat it with care. </a>
    </div>
  </div>
<app-carousel></app-carousel>
